.content {
    width: 70vw;
    height: 60vh;
    padding-bottom: 350px;
    display: flex;
    justify-self: center;
    margin: 50px;
}

.station-map {
    width: 50vw;
    height: 50vh;
}

.station-mapContainer {
    width: 100%;
    height: 100%;
}

.station-tileLayer {
    width: inherit;
    height: inherit;
}

#info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    margin: 15px auto;
    border-radius: 20px;
    font-size: 20px;
}