.admin-button {
    color: white;
    font-size:20px;
    margin: 20px;
    padding: 70px;
    cursor: pointer;
    width: 100%;
      height: 35px;
}
.admin-button:hover {
    width: 420px;
}
.right
{
 

}
.center{
   

}
.adminButtons
{
    display:flex;
    justify-content: space-between;
}
.adminButtons div{
    width: 20vw;
  

}