.firefighter-card {
    width: 100%;
    margin: 20px;
    padding: 50px;
    font-size: 20px;
}

.firefighter-card:hover {
    transform: rotateZ(3deg);
}

.firefighter-card img {
    max-height: 300px;
}

.image {
    float: left;
}

.names {
    float: right;
}