.registrationForm {
    width: 50vw;
    height: 30vh;
    margin: 20vh auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registrationForm form {
    max-width: 50%;
    margin: 15px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Primary {
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}

input {
    margin: 10px 0;
    color:black;
}