.reportForm {
    width: 60vw;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.reportForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: auto;
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
}

.reportForm form input, .reportForm form select {
    font-size: 20px;
    background-color: #dcdcdc;
}

.reportForm label {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.container {
    border-radius: 10px;
    display: flex;
    justify-self: center;
}

.map {
    margin: 10px;
    height: 35vh;
    width: 40vw;
}
.mapContainer {
    border:dotted black;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.tileLayer {
    width: inherit;
    height: inherit;
}

.submitButton {
    margin: 30px;
}