.reportForm {
    width: 40vw;
    margin: 10vh auto;
    color: #e25a5a;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.reportForm form {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
}

.container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map {
    margin: 10px;
    height: 35vh;
    width: 40vw;
}
.mapContainer {
    border:dotted black;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.tileLayer {
    width: inherit;
    height: inherit;
}

.submitButton {
    margin: 30px;
}